In [1]:
def sum(a,b):
    return a+b
sum(2,3)

5

In [3]:
sum=lambda a,b:a+b
sum(2,4)

6

In [4]:
def gt(a,b):
    if a>b:
        return a
    else:
        return b
gt(3,7)

7

In [7]:
gt=lambda a,b: a if a>b else b
gt(5+4,7)

9

In [12]:
def oe(n):
    if n%2==0:
        return 'even'
    else:
        return 'odd'
oe(2),oe(7)

('even', 'odd')

In [15]:
oe=lambda n:'even' if n%2==0 else 'odd'
oe(7),oe(6)

('odd', 'even')

In [17]:
def oe(n):
    if n%2==0:
        return 'even'
    else:
        return 'odd'
oe(2),oe(7)

mylist=[1,3,5,2,4,6]
for i in mylist:
    print(oe(i))

odd
odd
odd
even
even
even

In [ ]:
map()
map(function ,container)

In [1]:
mylist=[1,2,4,3,4,5,6]

list(map(lambda n:'even' if n%2==0 else 'odd' ,mylist))
#oe(7),oe(6)

['odd', 'even', 'even', 'odd', 'even', 'odd', 'even']

In [34]:
tuple(map(lambda n:n**2,range(10)))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [20]:
def a(a,b,c):
    return a+b*c
a(1,2,3)
e=[10,3,4]
list(map(lambda a: "high" if a>5 else  "low",e))
#a(1,2,3)

['low', 'low', 'low']